
/* TITLE */

.title-area {
	font-family: sans-serif;
	text-align: center;
	padding: 10px;
}

.main-title {
	font-size: 24px;
	margin: 0;
	margin-top: 5px;
}

.sub-title {
	font-size: 20px;
	margin: 0;
}

/* SETTINGS */
.settings-panel {
	position: absolute;
	width: 250px;
	height: 410px;
	border: 1px solid #dbdbdb;
	border-radius: 10px;
	margin: 0 10px 10px 10px;
	background-color: #f7f7f7;
}

.gender-settings {
	margin: 15px 0 10px 0;
	background-color: #e0d1cf;
	font-size: 0;
}

.gender-button {
	font-size: 14px;
	width: 33.3%;
	margin: 0;
	padding: 15px;
	background-color: #e0d1cf;
	border: 2px solid transparent;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.gender-button:hover {
	background-color: #c1a3a0;
}

.gender-button:focus {
	background-color: #c1a3a0;
	outline: none;
}

.category-settings {
	margin: 40px 0 0 0;
	background-color: #e0d1cf;
	font-size: 0;
}

.category-button {
	font-size: 14px;
	width: 50%;
	margin: 0;
	padding: 15px;
	background-color: #e0d1cf;
	border: 2px solid transparent;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.category-button:hover {
	background-color: #c1a3a0;
}

.category-button:focus {
	background-color: #c1a3a0;
	outline: none;
}

.slideshow-settings {
	margin: 40px 0 0 0;
	font-size: 0;
}

.slideshow-text {
	display: inline-block;
	width: 33.3%;
	font-size: 14px;
	font-family: sans-serif;
	line-height: 25px;
	text-align: center;
	user-select: none;
	background-color: #f7f7f7;
}

.slideshow-button {
	font-size: 14px;
	width: 33.3%;
	margin: 0;
	padding: 15px;
	background-color: #e0d1cf;
	border: 2px solid transparent;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.slideshow-button:hover {
	background-color: #c1a3a0;
}

.slideshow-button:focus {
	background-color: #c1a3a0;
	outline: none;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	padding: 5px 15px;
	font-size: 14px;
	background-color: #f7f7f7;
	text-align-last: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

select:focus {
	background-color: #c1a3a0;
	outline: none;
}

.age-settings {
	margin-top: 40px;
	text-align: center;
}

/* inner button, add margins */
.inner {
	border-right: .5px dashed black;
}

/* selected settings buttons */
.selected {
	background-color: #c1a3a0;
}

/** #e0d1cf #c1a3a0 **/

/* CITATION AREA */
.citation-panel {
	position: absolute;
	width: 250px;
	height: 125px;
	border: 1px solid #dbdbdb;
	border-radius: 10px;
	margin: 32px 10px 0 0;
	background-color: #f7f7f7;
	font-family: monospace;
	font-size: 11px;
}

.citation-header {
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 0;
	padding: 0 4px;
}

.citation-body {
	margin-top: 2px;
	margin-bottom: 5px;
	padding: 0 5px;
	text-align: left;
}

/* MAP SETTINGS */
.year-settings {
	font-family: sans-serif;
	user-select: none;
}

.year-display {
	font-size: 20px;
	outline: none;
}

.year-forwards {
	transform: translate(60px,4px);
	font-size: 35px;
	cursor: pointer;
}

.year-backwards {
	transform: translate(-25px,4px);
	font-size: 35px;
	cursor: pointer;
}

/* MAP */
.map-panel {
	margin: 20px 0 0 275px;
}

.map {
	border: 1px solid #dbdbdb;
	border-radius: 10px;
}

.tooltip {
	background-color: #f0f0f0;
	font-family: sans-serif;
	padding: 4px;
	border-radius: 4px;
	color: #303030;
}